.sidebar{
	float: left;
	height: 100%;
	width: 20%;
	padding-top: 100px;
}
.uv{
	float: left;
	width: 80%;
	height: 600px;
	overflow: auto;
}
.navbar-nav > li {
}

.top-bar{
	float: left;
	height: 100px;
	width: 80%;
	margin-top: 50px;
}
	.top-bar .row i{
		float: left;
		margin-left: 20px;
	}
	.top-bar .row h4{
		float: right;
	}

.sidebar-menu li{
	list-style-type: none;
}

.sidebar-menu{
	padding-left: 0;
}