<div>
	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		<li ng-class="{active: $state.params.selector === ''}"><a href="#/goals/">All</a></li>
		<li ng-class="{active: $state.params.selector === 'physical'}"><a href="#/goals/physical">Physical</a></li>
		<li ng-class="{active: $state.params.selector === 'spiritual'}"><a href="#/goals/spiritual">Spiritual</a></li>
		<li ng-class="{active: $state.params.selector === 'professional'}"><a href="#/goals/professional">Professional</a></li>
		<li ng-class="{active: $state.params.selector === 'financial'}"><a href="#/goals/financial">Financial</a></li>
		<li ng-class="{active: $state.params.selector === 'other'}"><a href="#/goals/other">Other</a></li>
		<li>
			<form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8" id="query-search" placeholder="Search" ng-model="query">
			</form>
		</li>
	</ul>

	<div id="myTabContent" class="tab-content">
		<div class="panel panel-primary" ng-repeat="goal in goals | filter:query | filter:{type:goalType} | orderBy:orderProp">
			<div class="panel-heading">
				<h2 class="panel-title">{{goal.name}}</h2>
			</div>
			<div class="panel-body">
				<h2>{{goal.percentageComplete}}%</h2>
				<div class="progress progress-striped active">
					<div class="progress-bar" style="width: {{goal.percentageComplete}}%"></div>
				</div>
			</div>
		</div>
	</div>
</div>