<div class="container">
	<ul class="nav nav-tabs" style="margin-bottom: 15px;">
		<li ng-class="{active: $state.includes('goals.all')}"><a ui-sref="goals.all">All</a></li>
		<li ng-class="{active: $state.includes('goals.physical')}"><a ui-sref="goals.physical">Physical</a></li>
		<li ng-class="{active: $state.includes('goals.spiritual')}"><a ui-sref="goals.spiritual">Spiritual</a></li>
		<li ng-class="{active: $state.includes('goals.professional')}"><a ui-sref="goals.professional">Professional</a></li>
		<li ng-class="{active: $state.includes('goals.financial')}"><a ui-sref="goals.financial">Financial</a></li>
		<li ng-class="{active: $state.includes('goals.other')}"><a ui-sref="goals.other">Other</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				Sort <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li class=""><a>Name</a></li>
				<li class=""><a>Creation Date</a></li>
				<li class=""><a>Due Date</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">Progress</li>
				<li class=""><a>On-Track</a></li>
				<li class=""><a>Warning</a></li>
				<li class=""><a>Danger</a></li>
			</ul>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content" ui-view>

	</div>
</div>